<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class_title</key>
		<string>点击放大缩小图片</string>
		<key>class_name</key>
		<string>ViewController</string>
	</dict>
	<dict>
		<key>class_title</key>
		<string>裁剪图片并设置阴影</string>
		<key>class_name</key>
		<string>SecondViewController</string>
	</dict>
</array>
</plist>
